<div class="jumbotron">
  <h1>Welcome to Todo List App</h1>
  <%= link_to "Create Todo List", new_todo_list_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "All Todo Lists", todo_lists_path, class: "btn btn-success btn-lg" %>
</div>
